EMBEDDING_API_BASE=http://10.221.0.164:4000/v1
EMBEDDING_MODEL=si-rca-dds-text-embedding-3-small
EMBEDDING_API_KEY=your_embedding_api_key_here

AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_MODEL=azure/gpt-4o